@import "tailwindcss";

@theme{
  /* Cores */
  --color-primaria: #99B2B7; /* ação principal (botões) */
  --color-secundaria: #948C75; /*  elementos secundário*/
  --color-terciaria: #D5DED9; /* fundos leves*/

  --color-botao-primario: #4E656B; /* Botão principal */
  --color-botao-secundario: #F1ECE1; /* Botão secundário */
  --color-botao-terciario: #292113; /* Botão terciário */

  /* Neutras */

  --color-fundo: #D9CEB2; /*fundo geral*/
  --color-superficie: #ffffff; /*cards*/

     /* Texto */
     
     /* Fundo */
     --color-texto: #0f172a; /**/
     --color-texto-atenunado: #64748b; /**/

   /* Borda */
  --color-bordar: #D9CEB2; /**/ 
}

body {
  background-color: var(--color-fundo);
  font-family: var(--font-inter), sans-serif;

   /* Melhoria de renderização */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
